.App {
  text-align: center;
  padding: 20px;
}
.ant-layout {
  background: #FFF !important;
}
.content-main {
  height: 500px;
  overflow-y: auto;
}
.ant-menu {
  height: auto !important;
}
.ant-layout-footer {
  padding: 0;
  background: #FFF;
}


