.App {
  text-align: center;
  padding: 40px;
}
.header {
  height: 20%;
}
.header-title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}
.header-description {
  font-size: 15px;
  font-weight: 100;
}
.content {
  display: flex;
  
}
.content-side {
  flex: 0 0 200px;
}
.content-main {
  flex: 1;
  height: 540px;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.ant-menu {
  padding: 0px;
  height: auto !important;
}
.ant-menu-submenu-title {
  padding: 0px !important;
}
li {
  list-style-type: none;
  padding: 0px !important;
}
.ant-menu-item :hover {
  background-color: aliceblue;
  cursor: pointer;
}
.footer {
  height: 10%;
  font-size: 10px;
}

